
.navbar {
	top: 0px;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	padding: 40px 300px;
	position: fixed;
	left: 0;
	z-index: 10;
	transition:all ease 0.6s;
	z-index: 100;

	&.compact {
		padding: 20px 300px;
		background-color: $color-blue;
		svg {
			width: 50px;
		}
	}

	&_col {
		flex: 1;
		&:first-of-type {
			flex: 0 0 20%;
		}
		&:last-of-type {
			flex: 0 0 20%;
		}
		.sublined {
			font-weight: 400;
			text-decoration: none;
			color: White;
			transition:all ease .4s;
			opacity: 1;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				height: 3px;
				background-color: #58E2C2;
				left: 50%;
				width: 0;
				transform:translateX(-50%);
				transition:all ease .4s;
			}
			&:hover {
				color: #58E2C2;
				&:after {
					width: 100%;
				}
			}
		}

		.st0 {
			fill:#58E2C2;
		}

		svg {
			transition:all ease .8s;
			width: 100px;
			transform: perspective(1px) translateZ(0);
			transition-duration: 0.3s;

			&:hover{
  				animation: buzz-out 0.75s linear;
			}
		}
	}
}

.navbar-index {
	background-image: linear-gradient(#0036ff, transparent);
}

.navbar-about {
	background-color: $color-turquoise;
	position: relative;

		.sublined {
			&:after {
				background-color: #0036ff;
			}
			&:hover {
				color: #0036ff;
			}
		}

	.st0{
		fill:White;
	}
}

.navbar-contact {
	background-color: $color-lilla;
	position: relative;

		.sublined {
			&:after {
				background-color: #0036ff;
			}
			&:hover {
				color: #0036ff;
			}
		}

	.st0{
		fill:White;
	}
}



	
@keyframes buzz-out {
	10% {
	  transform: translateX(3px) rotate(2deg);
	}
	20% {
	  transform: translateX(-3px) rotate(-2deg);
	}
	30% {
	  transform: translateX(3px) rotate(2deg);
	}
	40% {
	  transform: translateX(-3px) rotate(-2deg);
	}
	50% {
	  transform: translateX(2px) rotate(1deg);
	}
	60% {
	  transform: translateX(-2px) rotate(-1deg);
	}
	70% {
	  transform: translateX(2px) rotate(1deg);
	}
	80% {
	  transform: translateX(-2px) rotate(-1deg);
	}
	90% {
	  transform: translateX(1px) rotate(0);
	}
	100% {
	  transform: translateX(-1px) rotate(0);
	}
  }