.about {
    
    &_container {
        width: 100%;
        padding-top: 20px;
        min-height: 100vh;
        background-color: $color-turquoise;
    }

    &_image {
        width: 100%;
        max-width: 320px;
    }
    
    &_content {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    &_col {
        perspective:100px;
        flex: 0 0 50%;
        padding: 70px;
        color: #ffffff;
        line-height: 1.4em;
    }

    &_info {
        color: $color-blue;
        font-weight: 600;
        margin-top: 50px;
    }
}



