.contact {
    
    &_container {
        width: 100%;
        padding-top: 120px;
        min-height: 100vh;
        background-color: $color-lilla;
    }

    &_content {
        max-width: 1000px;
        margin: 0 auto;
    }

    &_info {
        color: $color-blue;
        font-weight: 600;
        line-height: 2em;
    }

    &_social {
        text-decoration: none;
        margin-top: 50px;

        a {
            text-decoration: none;
            color: white;
            font-weight: 600;
            line-height: 2em;
            transition:all ease .4s;
			opacity: 1;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				height: 3px;
				background-color: $color-blue;
				left: 50%;
				width: 0;
				transform:translateX(-50%);
				transition:all ease .4s;
			}
			&:hover {
				color: $color-blue;
				&:after {
					width: 100%;
            }	}
        }
    }
    
}