
footer p {
	text-align: center;
	font-weight: 600;
	font-size: 0.8em;
	color: #FFFFFF;
	position: relative;
 	top: 50%;
	transform: translateY(-50%);
}

footer {
	width: 100%;
	height: 180px;
	position: relative;
	margin: 0;
	padding: 0;
	bottom: 0;
	background-color: #c1befc;
}

.footer-contact {
	background-color: $color-blue;
}