.test {
		background-color: Red;
		display: block;
		&:nth-child(5n+3) {
			background-color: Green;
		}
	}


.gallery {
	max-width: 1000px;
	margin: 100px auto;
	.grid-sizer, .grid-item {
		width: 50%;
		@media screen and (max-width: 600px) {
		   width: 100%;
		}
	}



	&_shape {
		width: 50%;
		opacity: 1;
		transform: translateY(0);
		transition:all ease 2s;
		cursor: pointer;
		overflow: hidden;
		padding: 20px;
		&:nth-child(even) {
			img {
				width: 50%;
				@media screen and (max-width: 600px) {
				   width: 100%;
				}
			}
			.gallery_hover {
				width: 50%;
				left: 25%;
			}
		}
		&.vertical {
			.gallery_cont {
				//padding-bottom: 150%;
			}
		}

		&.horizontal {
			.gallery_cont {
				//padding-bottom: 80%;
			}
		}

		&.square {
			.gallery_cont {
				//padding-bottom: 100%;
			}
		}
		&.loaded {
			//opacity: 1;
			transform: translateY(0)
		}
		&:hover {
			.gallery_hover {
				opacity: 1;
				h2 {
					opacity: 1;
					transform: skewX(0deg) translateY(0);
				}
			}
			img {
				transform:scale(1);
			}	
		}
	}
	
	&_hover {
		background-color: rgba(13,65,251,0.7);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items:center;
		justify-content:center;
		opacity: 0;
		z-index: 10;
		transition:all ease .4s;

		h2 {
			color: White;
			font-size: 32px;
			font-weight: light;
			opacity: 0;
			transition:all ease .6s;
			transition-delay:.4s;
			transform-origin: center center;
		}
	}
	&_cont {
		width: 100%;
		height: auto;
		//padding-bottom: 100%;
		position: relative;
		overflow: hidden;
		
		img {
			width: 100%;
			//background-color: #c1befc;
			transform:scale(1.05);
			transition:all ease .8s;
		}
	}
}



