@import 'reset';
@import 'colors.css.scss';
@import 'header.css.scss';
@import 'footer.css.scss';
@import 'gallery.css.scss';
@import 'about.css.scss';
@import 'contact.css.scss';


* {
	box-sizing: border-box;
}
body {
	font-size: 20px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
  	text-align: center;
  	box-sizing:border-box;
}

.main_container {
	//padding-top: 182px;
	transition:all ease .4s;
	&.compact {
		//padding-top: 52px;
	}
}

.container {
	width: 100%;
	height: 600px;
	padding-top: 182px;
	height: 100vh;
	background-color:#0036ff;

	&_arrow {
		display: inline-block;
		//margin: 40px auto;
		width: 60px;
		height: 60px;
		cursor: pointer;

			svg {
				animation: hang 1.2s ease alternate infinite;
			}
			.st0 {
				fill: $color-lilla;
			}
	}
}


@keyframes hang {
	0% {
		transform: translateY(0px);
	  }
	  100% {
		transform: translateY(20px);
	  }
}


