<header class="navbar navbar-<%= current_page.path.split('.')[0] %>">
    <div class="navbar_col navbar_left">
    	<a class="sublined" href="/about.html">About</a>
    </div>
    <div class="navbar_col navbar_center">
    	<a href="index.html">
    		<?xml version="1.0" encoding="utf-8"?>
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
		
			<g>
				<g>
					<path class="st0" d="M36.33,61.39c-2.11,1.34-2.34,2.45-2.34,2.45c0.07,1.18-0.17,2.48-0.17,2.48
						c-1.48,6.96-4.14,13.87-4.87,16.38c-0.73,2.52-1.55,2.73-1.56,3.04c-0.01,0.31-0.11,1.33,0.03,2.32c0.24,1.8,2.26,2.92,2.26,2.92
						c-1.95-4.27-0.14-6.02-0.14-6.02l5.7-18.28c0.02-0.43,1.02-0.64,1.02-1.94c-0.01-1.31,0.83-2.02,0.83-2.02s7.39-7.5,9.27-9.46
						c-0.58-0.01-1.74-0.43-2.26-0.68L36.33,61.39z"/>
					<path class="st0" d="M56.94,89.7c-0.72-4.24-3.29-17.67-3.29-17.67c0.8-2.64-0.68-4.5-0.68-4.5c-0.57-2.84-0.62-3.31,0.44-13.83
						C55.18,53,60.05,49.58,57.84,43c-1.66-4.94-9.03-7.13-12.78-3.07c-5.59,6.05,0.01,14.38,7.13,9.58c3.95-2.66,1.38-9.4-3.23-7.33
						c-1.05,0.47-2.8,3.28,0.38,5.21c-1.37,1.66-6.13,0.53-4.2-4.8c0.93-2.57,5.55-4.34,8.43-2.47c5.75,3.74,2.26,11.62-2.23,13.19
						l0.24,12.22c-0.46,1.91-0.35,3.78-0.35,3.78c2.51,6.9,3.63,14.61,4.64,21.58c0.27,1.88,1.24,2.05,1.24,2.05
						c2.23,0.46,4.17,0,4.17,0C56.89,92.57,57.14,90.87,56.94,89.7z"/>
					<path class="st0" d="M71.91,12.26c-1.58-0.94-2.86-2.8-2.86-2.8c-2.65-3.29-4.82-2.01-4.82-2.01c-3.56,1.02-5.97,6.65-3.71,10.95
						c6.34,12.07,5.34,19.26,1.31,18.04c-1.75-0.53-1.61-3.82-7.04-4.94c-2.19-0.45-6.65-1.21-6.65-1.21c-2.42-1.29-5.15-0.1-5.15-0.1
						c0.61,0.97,1.95,1.9,1.95,1.9c-2.83-0.2-4.62,2.56-4.62,2.56c-0.98,0.83-2.81,0.97-2.81,0.97s-0.61,0.7,0.55,0.68
						c1.16-0.02,1.8,0.37,1.8,0.37c-1.93,2.54-6.31,1.33-6.31,1.33c-0.29,1.59,1.07,2.16,1.07,2.16s-0.64-0.25-1.32,0.16
						c-0.67,0.41-2.46,1.28-2.46,1.28c-0.06,1.31,1.47,1.45,1.47,1.45l-4.08,0.47c0,0,2.52,2.03,4.11,2.22c4.88,0.6,9.4,5.11,9.34,5.01
						c-4.15-6.71,1.57-18.17,12.05-15.04c4.73,1.41,8.1,5.96,7.19,12.35c12.96-9.31,4.82-23.81,1.83-29.87
						c-3.4-6.88,1.43-6.57,1.43-6.57c1.74,1.44,4.58,1.81,4.58,1.81s0.74,1.52,1.15,2.16c0.41,0.64,1.08,3.71,1.08,3.71
						C74.22,13.48,71.91,12.26,71.91,12.26z"/>
				</g>
				<g>
					<path class="st0" d="M49.49,21.56c-2.61-3.6,0.24-5.34,0.46-6.65c0.52-1.16,0.67-1.12,1.18-1.84c0.09,0.95,1.01,1.32,0.65,2.71
						c-0.51,1.37,0.36,2.12,0.74,3.81c0.22,3.07-1.69,3.55-1.88,3.65C50.14,22.68,50.24,22.48,49.49,21.56z"/>
				</g>
				<g>
					<path class="st0" d="M31.42,22.16c-0.41-1.61-2.2-4.11-1.8-4.01c0.83,0.2,2.69,0.15,3.97,1.25c1.02,1.26,2.32,1.84,2.66,1.98
						c1.61,0.66,1,5.09,0.99,5.32C36.44,26.72,32.5,26.43,31.42,22.16z"/>
				</g>
				<g>
					<path class="st0" d="M69.94,65.15c-0.12-0.24-1.54-0.63-2.64-0.81c-0.63-0.27-1.06-0.73-1.32-1.41c-0.69-2-1.89-1.81-2.17-1.95
						c-0.02-0.01-0.03-0.02-0.05-0.03c-1.22-0.66-0.31-4.89,0.26-4.79C68.81,56.75,67.08,60.65,69.94,65.15z"/>
				</g>
				<g>
					<path class="st0" d="M24.17,38.33c-1.74,0.23-2.81-0.49-4.62-1.72c-1.1-0.82-1.96-0.89-3.02-1.15c0.3,0.04,2.13-0.89,3.49-1.15
						c1.99-0.54,3.48-0.34,4.47,0.56c2.27,0.57,2.6,2.09,2.7,2.27C26.69,37.66,25.58,37.63,24.17,38.33z"/>
				</g>
				<g>
					<path class="st0" d="M74.04,46.33c2.97-0.35,7.31,5.57,6.89,5.6c-0.85,0.08-3.42,1.12-4.84,0c-1.31-1.46-2.05-1.07-3.14-1.7
						c-1.37-0.94-1.73-2.65-2.35-3.25C70.72,46.93,72.11,46.97,74.04,46.33z"/>
				</g>
				<g>
					<path class="st0" d="M81.35,32.56c1.02,0.13,2.31-0.02,2.09,0.21c-0.45,0.46-0.84,0.86-1.31,1.33c-0.41,0.41-2.53,2.14-4.96,1.79
						c-0.94-0.23-0.49-0.84-2.34-1.39C74.35,32.33,77.62,31.45,81.35,32.56z"/>
				</g>
				<g>
					<path class="st0" d="M24.72,57.77c-1.06,1.2-3.7,1.28-4.94,1.83c2.16-1.44,2.79-3.54,3.55-3.76c1.89-0.59,1.06-0.97,1.94-1.92
						c1.72-1.51,5.27-0.98,5.47-0.96C30.29,54.95,29.1,57.85,24.72,57.77z"/>
				</g>
			</g>
			</svg>

    	</a>
    </div>
    <div class="navbar_col navbar_right">
    	<a class="sublined" href="/contact.html">Contact</a>
    </div>
</header>