<div class="about about_container">

  <div class="about_content">
	  <div class="about_col">
      <img src="images/img-profile-4.jpg" class="about_image" /> 
    </div>
	  <div class="about_col"> 
      <p>Hello my name is Susanna and I'm a Web &#38; Graphic Designer from Milan. Being creative and enthusiastic is my speciality. I love to play with shapes, symbols and letters to create original and attractive compositions.</p>
		  <p>I’m currently working as freelancer and have been nurturing the design aesthetic and brand since 2012.</p>
      
      <p class="about_info">Say hi!</br>hello@suseindesign.com</br>+39 334 6151383</p>   
    </div>
  </div>

</div>
