<div class="contact_container">
	<div class="contact_content">
		<p class="contact_info">
				hello@suseindesign.com</br>
				+39 334 6151383
		</p>
		<p class="contact_social">
				<a  href="https://www.instagram.com/susein_design/" target="_blank">Instagram</a> </br>
				<a href="https://www.linkedin.com/in/susanna-pozzi-2ab952108?originalSubdomain=it" target="_blank">Linkedin</a>
		</p>
	</div>
</div>