
<div class="container">
  <div class="container_img">
  	<img src="images/Susein-Design-Typo.gif" width="1000px">
  </div>
  <div class="container_arrow">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
    <g>
      <polygon class="st0" points="50.09,72.66 30.86,51.18 32.31,49.88 50.11,69.77 68.29,49.88 69.72,51.18 	"/>
    </g>
    <g>
      <rect x="49.16" y="29.41" class="st0" width="1.94" height="41.41"/>
    </g>
    </svg>
  </div>
</div>



<div class="gallery grid">

  <div class="gallery_shape grid-item vertical">
    <div class="gallery_cont">
    <div class="gallery_hover">
      <h2>Project Title 1</h2>
    </div>
      <img src="https://picsum.photos/1080/1080">
    </div>
  </div>

  <div class="gallery_shape grid-item horizontal">
    <div class="gallery_cont">
    <div class="gallery_hover">
      <h2>Project Title 2</h2>
    </div>
      <img src="https://picsum.photos/1024/768">
    </div>
  </div>

  <div class="gallery_shape grid-item horizontal">
    <div class="gallery_cont">
    <div class="gallery_hover">
      <h2>Project Title 3</h2>
    </div>
      <img src="https://picsum.photos/1200/720">
    </div>
  </div>

  <div class="gallery_shape grid-item square">
    <div class="gallery_cont">
    <div class="gallery_hover">
      <h2>Project Title 4</h2>
    </div>
      <img src="https://picsum.photos/1200/1200">
    </div>
  </div>

    <div class="gallery_shape grid-item horizontal">
    <div class="gallery_cont">
    <div class="gallery_hover">
      <h2>Project Title 5</h2>
    </div>
      <img src="https://picsum.photos/1200/780">
    </div>
  </div>

  <div class="gallery_shape grid-item horizontal">
    <div class="gallery_cont">
    <div class="gallery_hover">
      <h2>Project Title 6</h2>
    </div>
      <img src="https://picsum.photos/1200/900">
    </div>
  </div>

  <div class="gallery_shape grid-item square">
    <div class="gallery_cont">
    <div class="gallery_hover">
      <h2>Project Title 7</h2>
    </div>
      <img src="https://picsum.photos/1200/1200">
    </div>
  </div>

  <div class="gallery_shape grid-item vertical">
    <div class="gallery_cont">
    <div class="gallery_hover">
      <h2>Project Title 8</h2>
    </div>
      <img src="https://picsum.photos/768/1024">
    </div>
  </div>

  <div class="grid-sizer"></div>
</div>




